<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <h1>Add user</h1>
    <form (ngSubmit)="add()">
        <ion-item>
            <ion-label>Nom :</ion-label>
            <ion-input type="text" [(ngModel)]="userDetail.nom" name="nom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Prénom :</ion-label>
            <ion-input type="text" [(ngModel)]="userDetail.prenom" name="prenom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Age :</ion-label>
            <ion-input type="text" [(ngModel)]="userDetail.Age" name="age"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>antécédents :</ion-label>
            <ion-input type="text" [(ngModel)]="userDetail.antecedent" name="ant"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Mode Charge :</ion-label>
            <ion-input type="text" [(ngModel)]="userDetail.modeCharge" name="modeCharge"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>poids :</ion-label>
            <ion-input type="text" [(ngModel)]="userDetail.poids" name="poids"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Tention :</ion-label>
            <ion-input type="text" [(ngModel)]="userDetail.tension" name="title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>type de douleur :</ion-label>
            <ion-select [(ngModel)]="userDetail.TypeDouleur" name="TypeDouleur">
                <ion-select-option value="Continu">
                    Continu
                </ion-select-option>
                <ion-select-option value="periodique">
                    Périodique
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Période :</ion-label>
            <ion-input type="text" [(ngModel)]="userDetail.periode" name="priode"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Localisation :</ion-label>
            <ion-input type="text" [(ngModel)]="userDetail.localisation" name="local"></ion-input>
        </ion-item>

        <ion-button type="submit" block>Add Patient</ion-button>
    </form>
</ion-content>